.header, .footer, .upper-body {
    background-color: #1F2937;
}

.title {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.title-subtext, ol, a, .logo {
    font-size: 18px;
    color: #E5E7EB;
}

button {
    background-color: #3882f6;
    color: #E5E7EB;
    font-weight: bolder;
    border-radius: 10px;
    padding: 10px 30px;
    box-shadow: none;
    border: 0;
}

.middle-title {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
}

.lower-middle {
    background-color: #E5E7EB;
}

.testimonial {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

a {
    text-decoration: none;
}

ol {
    list-style: none;
}

body {
    margin: 0px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 100px;
}

ol {
    display: flex;
    gap: 20px;
}

.upper-body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
    gap: 40px;
}

.upper-left {
    display: flex;
    flex-direction: column;
    width: 400px;
    gap: 20px;
}

.upper-right-image {
    height: 300px;
    width: 550px;
    border-radius: 10px;
}