.header, .footer, .upper-body {
    background-color: #1F2937;
}

.title {
    font-size: 48px;
    font-weight: 800;
}

.title-subtext, ol, a, .logo {
    font-size: 18px;
    color: #E5E7EB;
}

button {
    background-color: #3882f6;
}

.middle-title {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
}

.lower-middle {
    background-color: #E5E7EB;
}

.testimonial {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

a {
    text-decoration: none;
}

ol {
    list-style: none;
}

body {
    margin: 0px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 80px;
}

ol {
    display: flex;
    gap: 20px;
}