.header, .footer, .upper-body {
    background-color: #1F2937;
}

.title {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.title-subtext, ol, a, .logo {
    font-size: 18px;
    color: #E5E7EB;
}

.upper-button {
    background-color: #3882f6;
    color: #E5E7EB;
    font-weight: bolder;
    border-radius: 10px;
    padding: 10px 30px;
    box-shadow: none;
    border: 0;
    font-size: 15px;
}

.middle-title {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
}

.lower-middle {
    background-color: #E5E7EB;
}

.testimonial {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

a {
    text-decoration: none;
}

ol {
    list-style: none;
}

body {
    margin: 0px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 100px 20px 100px;
}

.logo {
    font-size: 40px;
    font-weight: bold;
}

ol {
    display: flex;
    gap: 20px;
}

.upper-body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
    gap: 40px;
}

.upper-left {
    display: flex;
    flex-direction: column;
    width: 400px;
    gap: 20px;
}

.upper-right-image {
    height: 300px;
    width: 550px;
    border-radius: 10px;
}

.middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 100px 50px 100px ;
}

.middle-title{
    padding-bottom: 40px;
}

.little-images {
    width: 250px;
    height: 250px;
    border-radius: 5px;
    border: 5px;
    border-style: solid;
    border-color: rgb(45, 79, 181) ;
}

.image-info-all {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    padding-top: 20px;
}

.lower-middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 300px 80px 300px;
}

.testimonial-thor {
    display: flex;
    align-self: flex-end;
    font-weight: bold;
    padding-top: 20px;
}

.bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px;
}

.bottom-stripe {
    display: flex;
    background-color: #3882f6;
    justify-content: space-between;
    align-items: center;
    padding: 40px 80px;
    border-radius: 5px;
    gap: 300px;
}

.bottom-stripe-left {
    color: white;
    display: flex;
    flex-direction: column;
    gap: 3px;
    
}

.button-bottom-stripe {
    background-color: #3882f6;
    color: #E5E7EB;
    font-weight: bolder;
    border-radius: 10px;
    padding: 10px 30px;
    box-shadow: none;
    border: 1px;
    border-style: solid;
    display: flex;
    font-size: 15px;
}

.button-bottom {
    display: flex;
}

.action {
    font-weight: bold;
    font-size: 20px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 100px;
    color: #E5E7EB;
}